nav{
    background-color:#f2fcff;
}
li{
    margin: 30px;
}
#Social_media_footer{
    background-color:#f2fcff;
}

main{
    margin-top :30px;
}



  a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: 1s box-shadow;
    border-radius: 20px;
    padding: 10px;
  }
  
  a:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  a:hover:after {
    animation: 1.3s counterclockwise infinite;
  }
  



 

  @media screen and (max-width: 600px) {
    a { 
        font-size: 12px;
    }
    li{
        margin: 5px;
        letter-spacing:-1px;
    } 
   
  }



